### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data["Price"] = purchase_data["Price"].map("${:.2f}".format)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
totalPlayers = pd.DataFrame({"Total Players": [purchase_data.SN.nunique()]})
totalPlayers.set_index(["Total Players"])

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
df_summary =pd.DataFrame({
    "Unique Item Count" : [purchase_data["Item ID"].nunique()], 
    "Average Price" : [purchase_data["Price"].mean()], 
    "Number of purchases" : [purchase_data["Purchase ID"].nunique()], 
    "Total Revenue" :[purchase_data["Price"].sum()]
    })

df_summary["Total Revenue"] = df_summary["Total Revenue"].map("${:.2f}".format)
df_summary["Average Price"] = df_summary["Average Price"].map("${:.2f}".format)
df_summary

   Unique Item Count Average Price  Number of purchases Total Revenue
0                179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Gender,   Total count, percentag eof players
genAnalysis = purchase_data[["Gender","Purchase ID"]].groupby(["Gender"]).sum()
savedGen = genAnalysis.rename(columns = {"Purchase ID" : "Count"})
savedGen["Percentage"] = ((savedGen['Count']/savedGen['Count'].sum())*100)


savedGen["Percentage"] = savedGen["Percentage"].map("{:.2f}%".format)
savedGen

                        Count Percentage
Gender
Female                  42870     14.11%
Male                   255921     84.24%
Other / Non-Disclosed    5019      1.65%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data 
Purchase Count
Average Purchase Price
Total Purchase Value
Avg Total Purchase per Person

In [5]:
# why is this not requiring a list, but the other does
purchase_count = purchase_data.groupby(["Gender"]).count()
purchase_mean = purchase_data.groupby(["Gender"]).mean()
purchase_sum = purchase_data.groupby(["Gender"]).sum()
byUser = purchase_data.groupby(['SN','Gender']).mean()
byUserMean = byUser.groupby(['Gender']).count()
purchase_analysis = pd.DataFrame({ "Purchase Count" : purchase_count["Purchase ID"], 
                                 "Average Purchase Price" : purchase_count['Price'],
                                  "Total Purchase Value" : purchase_sum["Price"],
                                   "Avg Total Purchase per Person" : purchase_sum['Price']/byUserMean['Price'] })


        
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis["Average Purchase Price"] = purchase_analysis["Average Purchase Price"].map("${:.2f}".format)     
purchase_analysis["Avg Total Purchase per Person"] = purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)        
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$113.00,$361.94,$4.47
Male,652,$652.00,$1967.64,$4.07
Other / Non-Disclosed,15,$15.00,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:

bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100000]
group_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
deDuped = purchase_data.drop_duplicates(subset=("SN"))

deDuped["Age"] = pd.cut(deDuped['Age'], bins, labels=group_names, include_lowest = True)
deDupped = deDuped.groupby(['Age']).count()

deDupped['Total Count'] = deDupped['Purchase ID']
ageDemo = deDupped[['Total Count']]
ageDemo['Percentage of Players'] = deDupped['Total Count']/deDupped['Total Count'].sum()*100

ageDemo["Percentage of Players"] = ageDemo["Percentage of Players"].map("{:.2f}%".format)
ageDemo

C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100000]
group_names = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#purchase_data
#.drop_duplicates(subset=("SN"))

purchase_data["Age"] = pd.cut(purchase_data['Age'], bins, labels=group_names, include_lowest = True)
purchase_count = purchase_data.groupby(['Age']).count()
purchase_count['Purchase Count'] = purchase_count['Purchase ID']
purchase_count

In [ ]:
#purchase_data
#.drop_duplicates(subset=("SN"))

purchase_mean = purchase_data.groupby(['Age']).mean()
purchase_mean['Average Purchase Price'] = purchase_mean['Price']
purchase_mean

In [ ]:
total_purch = purchase_data.groupby(['Age']).sum()
total_purch

In [ ]:

    byUser = purchase_data.groupby(['SN','Age']).mean()
    byUserMean = byUser.groupby(['Age']).count()
    purchase_sum = purchase_data.groupby(["Age"]).sum()

In [ ]:
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count['Purchase Count'],
                                 "Purchase Mean": purchase_mean['Price'],
                                 "Total Purchase Value": total_purch['Price'],
                                 "Average Total Purchase per Person" : purchase_sum['Price']/byUserMean['Price'] })

purchase_analysis["Purchase Mean"] = purchase_analysis["Purchase Mean"].map("${:.2f}".format)
purchase_analysis["Total Purchase Value"] = purchase_analysis["Total Purchase Value"].map("${:.2f}".format)   
purchase_analysis["Average Total Purchase per Person"] = purchase_analysis["Average Total Purchase per Person"].map("${:.2f}".format)   

purchase_analysis

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
SN = purchase_data.groupby(["SN"])
SN.count().sort_values
SN.mean()
SN.sum()

top_spenders = pd.DataFrame({"Purchase Count":SN['Purchase ID'].count(), 
                                                 "Average Purchase Price":SN['Price'].mean(), 
                                                    "Total Purchase Value" : SN["Price"].sum()})


top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)   

top_spenders.sort_values(by="Total Purchase Value", ascending=False).head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
groupID = purchase_data.groupby(["Item ID", "Item Name"])
groupCount = groupID.count()
groupMean = groupID.mean()
groupTotal = groupID.sum()
#.sort_values(by="Purchase ID", ascending=False)
popular_items = pd.DataFrame({"Purchase Count":groupCount["Purchase ID"],
                             "Item Price": groupMean['Price'],
                             "Total Purchase Value": groupTotal['Price']})


popular_items["Item Price"] = popular_items["Item Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)   
popular_items.sort_values(by='Purchase Count', ascending=False).head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:


popular_items.sort_values(by='Total Purchase Value', ascending=False).head(5)